  
         /* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
     /* *{
  border: 1px solid red;
 }       */
.firstsection{
   height:9vh;
}
.header{
   background-color: black;
   color:grey;
   display:flex;
   justify-content:center ;
   align-items: center;

}
.navkeys{
  display: flex;
  gap: 10px;
}
.nav-item{
  gap:0
}

a {
    color: #a1a6af;
    font-size: 14px;;
    padding: 12px 18px;
    display: block;
    text-decoration: none;
    vertical-align: middle; 

}

a:hover {
    color: #fff;
    background-color: transparent;
}

.new {
    background-color: #00cc88;
    color: #fff;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 3px;
    margin-left: 5px;
    vertical-align: super;
}
#navlogin{
     background-color: transparent;
     color:white;
     border: 1px solid white;
     border-radius: 5px;
     padding: 07px 22px;
     font-size: 14px;
     cursor:pointer;
     text-overflow: ellipsis;
     font: inheriit;
     
}
#navlogin:hover{
     background-color: gray;
}
#navsignup{
    text-overflow: ellipsis;
    vertical-align: top;
    padding: 07px 22px;
    font-size: 14px;
    font: inherit;
    background-color: #18a887;
    cursor: pointer;
    text-align: center;;
    border-radius: 5px;
    border: 2px;
    display: flex;
    align-items: center;

}
#navsignup:hover{
    background-color: #11896d;
}
.purple{
  background-color: #421983;
   padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 0 0 100px 100px;
  
}
.purple1st{
  font-size: 52px;
  line-height: normal;
  font-family: "Factor A", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
  height:30vh;
  width:50vw;
  display: flex;
  justify-content: center;
  margin-left: 350px;
}

.trial {
    margin-left: 10px;
    color: #ccc;
    font-size: 14px;
}
.searchcontainer{
    display:flex;
    justify-content: center;
    gap:0px;
    background-color: transparent;
    margin-top: 80px;
    margin-bottom: 40px;
}
.startbutton{
     background-color: #eb5b27;
    color: #fff;
    padding: 20px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0 5px 5px 0;
}
.leftsearch{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;


}
.search{
    padding: 21px 100px;
    border-radius: 5px 0 0 5px;
     border: none;

}
.select{
   padding: 20px 20px;
    border:  1px solid #e0e0e0;
    color: #898d9a;
    text-transform: uppercase;
}
.buttoncontainer{
    display:flex;
    justify-content: center;
    align-items: center;
}
.startbutton:hover {
    background-color: #982410;
}
.purplethird{
  font-size: 30px;
  margin-bottom: 28px;
  text-align: center;
  font-family: "Factor A", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #fff;
}
.purplethird{
  display:flex;
  justify-content: center;
  gap:10px
}
.buton{
    font-size: 17px;
    line-height: 1.5;
    font-family: inherit;
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
    border: none;
    border-radius: 100px;
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 34px;
    height: 48px;
    transition: color .2s, background-color .2s;
}
.buton:hover{
  background-color: #9c6bdc;
}
.purplefifth{
  margin-bottom: 40px;
  color: #b880ff;
  text-align: center;
  font: inherit;
  font-size: 20px;
  margin-bottom: 24px;
  margin-top: 65px;
  font-family:  sans-serif;
}
.longpic{
  display: flex;
  justify-content: center;
}
.enter{
  background-image: url("../Assets/Images/enterprise-bg.c8d503b8b3fda8cd66ac.webp");
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
   padding-top: 40px;
  padding-bottom: 40px;
}
.enterleft{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap:1px;
}
.enterright{
  display: flex;
  align-items: center;
}
.enterfirst{
  display: flex;
  align-items: center;
}
.enterenter{
  color: #fff;
}
.growth{
  color: #fff;
  margin-top: 28px;
    margin-bottom: 40px;
    font-size: 42px;
    line-height: normal;
    font-weight: 400;
}
.enterlist{
  color: #fff;
  list-style: none;
  vertical-align: middle;
  gap: 20px;
    font-size: 21px;
    line-height: 28px;
}
.enterbutton{
 
  transition: .2s ease-in-out;
  align-self: end;
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 15px  40px;
    font-family: inherit;
    font-size: 18px;
    line-height: 16px;
    border-radius: 6px;
    border: 1px solid #fff;
    cursor:pointer;
}
.enterbutton:hover{
  background-color: gray;
}
.enterbuttoncontainer{
           display: flex;
    align-items: center;
    justify-content: center;
}
.comp{
   padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 100px 100px 100px 100px;
  background-color: white;
}
.compfirst{
    font-size: 38px;
    line-height: 1.2;
    font-family: "Factor A", Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;
    text-align: center;
    width:50vw;
    margin-left: 280px;
    margin-top: 65px;
    margin-bottom: 65px;
}
.compitems{
  display: flex;
  justify-content: space-around;
  margin-bottom: 75px; ;
}
.tenmcontainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.comptenm{
  font-family: "Factor A", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #b880ff;
    font-size: 50px;
    line-height: 1.1;
    white-space: nowrap;
    display: inline-block;
    display: flex;
    justify-content: center;
}
.compur{
  background-color: #e2caff;
  margin-bottom: 65px;
  border-radius: 80px 80px 80px 80px;
}
.tenmtxt{
  font-size: 21px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #191b23;
    position: relative;
    font-weight: 400;
}
.compurfirst{
    font-size: 42px;
    line-height: 1.2;
    text-align: center;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    color: #191b23;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;
}
.compur_items{
    display: flex;
    justify-content: space-around;
}
.compurone{
     padding: 60px 60px 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 3px 3px 30px 0 rgba(25, 27, 35, .15);
    text-align: center;
    font-size: 18px;
}
.compurtwo{
  color: #b880ff;
    font-size: 65px;
    line-height: 1.1;
    font-family: "Factor A", Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 25px;
    
}
.compurthree{
  font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    color: #191b23;
    position: relative;
    margin-bottom:20px ;

}
.compursecond{
 text-align: center;
 font-size: 21px;
    line-height: 1.5;
    width: 72vw;
    display: flex;
    justify-content: center;
    margin-left: 140px;
    margin-top: 40px;
    margin-bottom: 40px;

}
.startbuttons {
    background-color: #eb5b27;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 40px;
}

.startbuttons:hover {
    background-color: #982410; /* Lighter orange on hover */
}
.casey{
  background-color: #421983;
   padding-top: 40px;
  padding-bottom: 40px;
  
}
.caseybuttons{
  display: flex;
  justify-content: center;
  gap:25px;
}
.caseyfirst{
  color: #fff;
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 1.2;
    font-family: "Factor A", Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 45px;
}
.caseyimage{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.caseyfour{
    font-size: 42px;
    line-height: 1.3;
    text-align: center;
    color: #fff;
    font-family: "Factor A", Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 70px;
    
}
.caseyfive{
  font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #f6f7fa;
    text-align: center;
    

}
.caseysix{
  display:flex;
  justify-content:center; 
}
.black{
  background-color: black;
   padding-top: 40px;
  padding-bottom: 40px;
}
.blackbold{
  color: #fff;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 4px;
    text-transform: uppercase;

}
.greytxt{
    
    color: #898d9a;
    font-size: 14px;
    padding-top: 0px;
    display: flex;
    align-items: center;
}
.blackbut{
  align-items: center;
    background-color: initial;
    border: 1px solid #898d9a;
    border-radius: 6px;
    color: #898d9a;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    justify-content: center;
    line-height: 19px;
    padding: 10px 40px 12px;
    transition: color .2s, border-color .2s;
    cursor: pointer;
}
.blackbut:hover{
    color: white;
    border-color: white;
}
.blackgreen{
 background: #009f81;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    height: 42px;
    line-height: 19px;
    padding: 10px 70px 12px;
    transition: background-color .2s;
    color:white;
}
.blackgreen:hover{
    background-color: #086453;
}
.blackhead{
  display: flex;
  justify-content: space-around;
}
.blackheadleft{
  display: flex;
  width: 70vw;
}
.lists{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer{
  background-color: #111317;
  display:flex;
}
.tick{
  display: flex;
  align-items: center;
 vertical-align: middle;
}
.tik{
  vertical-align: middle;
}
.learnmore{
  display: flex;
  justify-content: center;
}
.navbarbuttons{
  display: flex;
  align-items: center;
  gap:5px;
  height:6vh;
  width:18vw;
 
}
.overall{
  background-color: #111317;
}
.overalltwo{
background-color: #421983;
}
.gradient{
      font-size: 52px;
      font-weight:600;
      background: linear-gradient(to right, #cc98ff, #5bb6ff);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      display: inline-block;
      background-color: #4b0082;
       line-height: normal;
        font-family: "Factor A", Arial, Helvetica, sans-serif;
}
.end:hover{
   color: #fff;
    background-color: transparent;
    cursor: pointer;
}